name: Test

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - '*'

env:
  HEADLESS: 1
  TESTING: 1

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Install dependencies
      run: npm ci
    - name: Build Firenvim
      run: npm run build
    - name: Upload build artifact
      uses: actions/upload-artifact@v1
      with:
        name: firenvim
        path: .

  test:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        neovim: [stable, nightly]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Download build artifact
      uses: actions/download-artifact@v1
      with:
        name: firenvim
    - name: Install Firefox Dev Edition (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo npm install -g get-firefox
        get-firefox --platform linux --branch devedition --extract --target $HOME
        echo "::add-path::$HOME/firefox"
    - name: Install Firefox Dev Edition (MacOS)
      if: matrix.os == 'macos-latest'
      run: |
        brew cask --verbose --debug install homebrew/cask-versions/firefox-developer-edition
        echo "::add-path::/Applications/Firefox Developer Edition.app/Contents/MacOS/"
    - name: Install Firefox Dev Edition (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        choco install firefox-dev --pre
        echo "::add-path::C:\Program Files\Firefox Dev Edition"
    - name: Install Neovim
      uses: rhysd/action-setup-vim@v1
      with:
        neovim: true
        version: ${{ matrix.neovim }}
    - name: Install Manifest
      run: npm run install_manifests
    - name: Test
      run: npm run test firefox
